.card{
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 4px;
}

.card-body{
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    overflow: auto;
}
@media(min-width:991px){
     body.sidebar-show .app-main{
        padding-left: 240px;
        transition: all .4s ease-in-out;
    }
}

.dropdown-item{
    font-weight: 400;
    display: block;
    clear: both;
    width: 100%;
    padding: .25rem 1.5rem;
    text-align: inherit;
    white-space: nowrap;
    color: #162246;
    border: 0;
    background-color: transparent;
}

.table{
    width:100%;
}

.table-responsive{
     overflow: auto;
}

a.handle{
  cursor: pointer;
}
